In [4]:
import pandas as pd

df = pd.read_json("data/items_data.json")
df

df.to_csv("data/items_data.csv")
df

,item_id,amount,currency,Kateqoriya,Mərtəbə,Sahə,Otaq sayı,Çıxarış,Təmir,Torpaq sahəsi,İpoteka
0,4959734,310000,AZN,Yeni tikili,6 / 14,150 m²,4.0,var,var,NaN,NaN
1,5165167,340000,AZN,Həyət evi/Bağ evi,NaN,250 m²,5.0,var,var,6 sot,NaN
2,5122759,220000,AZN,Köhnə tikili,2 / 9,85 m²,3.0,var,var,NaN,NaN
3,4802446,225000,AZN,Yeni tikili,5 / 19,130 m²,3.0,yoxdur,var,NaN,NaN
4,5138486,480000,AZN,Yeni tikili,16 / 17,125 m²,4.0,var,var,NaN,NaN
...,...,...,...,...,...,...,...,...,...,...,...
79,5184396,250000,AZN,Həyət evi/Bağ evi,NaN,240 m²,9.0,var,var,6 sot,NaN
80,5084859,119500,AZN,Köhnə tikili,4 / 5,55 m²,2.0,var,var,NaN,NaN
81,5119065,390000,AZN,Həyət evi/Bağ evi,NaN,245 m²,5.0,var,var,4 sot,var
82,5161334,105000,AZN,Yeni tikili,9 / 12,90 m²,3.0,var,var,NaN,var
83,5038503,151000,AZN,Yeni tikili,10 / 18,52 m²,2.0,var,var,NaN,var